.main-container{
	display: inline;
	width: 1220px;
    height: 1400px;
    margin: 0px;
}

.divline{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background: #223A62;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#000), to(#fff));
}