
.FollowUsContainer{
    background-color: white;
    width: 1280px; /* 200 minus padding of 20px on either side*/
    height: 50px; /* 1310 minus padding of 20px on either side*/
    float: left;
    display: block;
    margin: 0px;
}

.FollowUsElementWrapper{
    background-color: white;
    font-family: trebuchet_ms_bold;
    color: #223A62;
    width: 1000px;
    height: 50px;
    margin: 0px;
    float: left;
    display: block;
}

.FollowUsElementWrapperRight{
    background-color: white;
    font-family: trebuchet_ms_bold;
    color: #223A62;
    width: 240px;
    height: 50px;
    margin: 0px;
    text-align: right;
    float: right;
    display: block;
}