---
---

@font-face {
    font-family: verdana_bold;
    src: url({{ site.baseurl }}/assets/font/Verdana Bold.ttf);
}

@font-face {
    font-family: verdana_bold_italic;
    src: url({{ site.baseurl }}/assets/font/Verdana Bold Italic.ttf);
}

@font-face {
    font-family: verdana_italic;
    src: url({{ site.baseurl }}/assets/font/Verdana Italic.ttf);
}

@font-face {
    font-family: verdana_regular;
    src: url({{ site.baseurl }}/assets/font/Verdana.ttf);
}