.HC{
	background-color: white;
	width: 1200px;
    height: 120px;
    margin: 0px;
    display: block;
    float: left;
}
.lnb{
	background-color: white;
	min-width: 220px;
    height: 120px;
    margin: 0px;
    display: inline-block;
}
.contb{
	background-color: white;
	min-width: 330px;
    height: 120px;
    margin: 0px;
    font-family: monitorica_regular;
    font-size: 14px;
    color: #223A62;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.logob{
	background-color: white;
	width: 200px;
    height: 120px;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.logob-content{
    position: absolute;
    bottom: 0;
    left: 0;
}

.tagb-content{
    position: absolute;
    bottom: 0;
    left: 0;
}

.contb-content{
    position: absolute;
    bottom: 0;
    right: 0;
}

.tagb{
	background-color: white;
	min-width: 400px;
    height: 120px;
    margin: 0px;
    font-family: monitorica_regular;
    font-size: 20px;
    color: #223A62;
    text-align: bottom;
    display: inline-block;
    vertical-align: top;
    position: relative;
}