.idxpage-title-container{
	background-color: white;
	width: 1200px;
    height: 40px;
    margin: 0px;
}

.idxpage-highlight-container{
	background-color: white;
	width: 1200px;
    height: 600px;
    margin: 0px;
}

.idxpage-title-content{
	background-color: white;
	width: 1200px;
    height: 40px;
    margin: 0px;
}

.idxpage-highlight-content{
	background-color: white;
	width: 1200px;
    height: 600px;
    margin: 0px;
    background-size:  100% 100%;
}