/*.NavigationContainer{
	background-color: white;
	margin: 0px;
	width: 200px; /* 200 minus padding of 20px on either side*/ /*
    height: 1290px; /* 1310 minus padding of 20px on either side*/
 /*   padding: 10px;
    float: left;
    display: block;
} */

.NavigationContainer{
    background-color: white;
    width: 1280px; /* 200 minus padding of 20px on either side*/
    height: 30px; /* 1310 minus padding of 20px on either side*/
    padding: 0px;
    float: left;
    display: block;
    margin: 0px;
}

.NavigationElementWrapper{
    background-color: #223A62;
    text-align: right;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    height: 100%;
    padding: 5px;
    float: left;
    display: block;
    color: white;
}

.NavigationElement{
	background-color: #223A62;
	font-family: monitorica_regular;
	text-align: right;
    margin-left:auto;
    margin-right:auto;
	width: 180px;
    height: 20px;
    padding: 5px;
    float: left;
    display: block;
    color: white;
}

.NavigationLink{
    color: white;
    text-decoration: none;
}
.NavigationLink:link {
    color: white;
    text-decoration: none;
}

/* visited link */
.NavigationLink:visited {
    color: white;
}

/* mouse over link */
.NavigationLink:hover {
    color: #5A9FE1;
    text-decoration: none;
}

/* selected link */
.NavigationLink:active {
    color: #5A9FE1;
}