/*.NavigationContainer{
	background-color: white;
	margin: 0px;
	width: 200px; /* 200 minus padding of 20px on either side*/ /*
    height: 1290px; /* 1310 minus padding of 20px on either side*/
 /*   padding: 10px;
    float: left;
    display: block;
} */

.NavigationContainer{
    background-color: white;
    margin: 0px;
    width: 1280px; /* 200 minus padding of 20px on either side*/
    height: 30px; /* 1310 minus padding of 20px on either side*/
    padding: 10px;
    float: left;
    display: block;
}

.NavigationElement{
	background-color: 223A62;
	font-family: monitorica_regular;
	text-align: right;
	margin: 0px;
	width: 180px;
    height: 20px;
    padding: 5px;
    float: left;
    display: block;
    color: #223A62;
}

a {
    color: white;
    text-decoration: none;
}
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: #5A9FE1;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #5A9FE1;
}