.PageContainer{
	background-color: white;
	width: 800px;
    height: 100%; /* 1310 minus padding of 20px on either side*/
    margin: 0px;
    padding: 10px;
    float: left;
    display: inline-block;
}

.lnb{
	background-color: white;
	min-width: 200px;
    height: 50px;
    margin: 0px;
    float: left;
    display: inline-block;
}

.rnb{
	background-color: white;
	min-width: 200px;
    height: 50px;
    margin: 0px;
    float: left;
    display: inline-block;
}

h3{
	font-family: monitorica_regular;
	color: #223A62;
	font-weight: bold;
}

h1{
	font-family: monitorica_regular;
	color: #223A62;
	font-weight: bold;
}

h2{
	font-family: monitorica_regular;
	color: #223A62;
	font-weight: bold;
}

h4{
	font-family: monitorica_regular;
	color: #223A62;
	font-weight: bold;
}

h5{
	font-family: monitorica_regular;
	color: #223A62;
	font-weight: bold;
}

li{
	font-family: monitorica_regular;
	color: #223A62;
}


p{
	font-family: monitorica_regular;
	color: #223A62;
}

.ProjectTitle{
	font-family: monitorica_bold;
	padding-left: 10px;
	color: white;
	background-color:  #223A62;
}

.ProjectElementContainer{
	background-color: white;
	font-family: monitorica_bold;
	color: white;
	border: 2px solid white;
	border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}