	<a href= "{{site.baseurl }}/index">
  		<div class="HC"  style="text-decoration:none">
  			<div class="lnb">
  			</div>
  			<div class="logob">
            <div class="logob-content">
  				      <img src="{{ site.baseurl }}/assets/site_decors/royani logo.png">
            </div>
  			</div>
  			<div class="tagb">
            <div class="tagb-content">
  				       ...a premium property consultant in Bengaluru
            </div>
  			</div>
  			<div class="contb">
            <div class="contb-content">
        				Email: {{ site.data.contact.royani_email }}
        				<br>
        				Office: {{ site.data.contact.royani_office_phone }}
        				<br>
        				Rajesh Reddy: {{ site.data.contact.rajesh_contact }}
        				<br>
        				Prakash Singh: {{ site.data.contact.prakash_contact }}
            </div>
  			</div>
  		</div>
  	</a>
